@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/root";
@import "../../../node_modules/bootstrap/scss/reboot";
@import "../../../node_modules/bootstrap/scss/type";
@import "../../../node_modules/bootstrap/scss/code";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/navbar";
@import "../../../node_modules/bootstrap/scss/card";
@import "../../../node_modules/bootstrap/scss/breadcrumb";
@import "../../../node_modules/bootstrap/scss/list-group";
@import "../../../node_modules/bootstrap/scss/utilities";

body {
    background: url("../img/background.webp") #9ccded no-repeat;
    background-position: left top;
    background-size: 100% auto;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    min-height: 960px;
}

body > main.container {
    padding: 75px 0 0 0;
}

.a-disable-menu:hover {
    color: #007bff;
}

.port-content img {
    max-width: 100%;
    height: auto;
}

.port-content p:first-child {
    text-align: center;
}

.responsive-font-size {
}

.display-none {
    display: none !important;
}

.border-marked {
    border-left: 5px solid #28a745 !important;
}

.badge-filter {
    display: inline-block;
    padding: 0.2em 0.2em;
    font-size: 95%;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #212529;
    background-color: #f8f9fa;
    border-radius: 10rem;
    padding-right: 0.7em;
    padding-left: 0.7em;
    margin-bottom: 1em;
    margin-right: 0.3em;
    cursor: pointer;
}

@media only screen and (max-device-width : 768px) {
    .responsive-font-size {
        font-size: 1.5rem;
    }
}
