---
layout: default_ru
title: Home
use:
    - portfolioru
    - portfolioru_categories
    - portfolioru_tags
---
{% set description = 'Портфолио. Список проектов, в которых принимал участие или разрабатывал.' %}

{% block head_meta %}
    <meta name="description" content="{{ description }}">
    <meta property="og:locale" content="ru_RU">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ page.title }} &mdash; {{ site.title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="{{ site.url }}/assets/img/portfolio.png">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:site_name" content="{{ site.title }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="{{ site.domain }}">
    <meta property="twitter:url" content="{{ site.url }}">
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:description" content="{{ description }}">
    {% if page.image %}
        <meta name="twitter:image" content="{{ site.url }}{{ page.image.src }}">
    {% endif %}
    <link rel="canonical" href="{{ site.url }}/ru" />
    <link rel="alternate" hreflang="ua" href="{{ site.url }}" />
    <link rel="alternate" hreflang="en" href="{{ site.url }}/en" />
    <link rel="alternate" hreflang="ru" href="{{ site.url }}/ru" />
    <link rel="alternate" hreflang="x-default" href="{{ site.url }}" />
{% endblock %}

{% block content_wrapper %}
    <div class="row mx-0">
        <div class="col-md-12 d-none d-md-block js-list-applied-filters">
            <div class="badge-filter display-none" data-group="{group}" data-title="{text}">
                {text} <span class="text-danger">&times;</span>
            </div>
        </div>
    </div>
    <div class="row mx-0">
        <div class="col-sm-3 d-none d-md-block">
            <div class="card mb-3" data-filter-group="categories">
                <div class="card-header">
                    <strong>Компании</strong>
                </div>
                <div class="list-group list-group-flush">
                    {% for category,portfolio in data.portfolioru_categories %}
                        <a class="list-group-item list-group-item-action js-on-click-filter-categories" href="#" title="{{ category }}">{{ category }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="card mb-3" data-filter-group="tags">
                <div class="card-header">
                    <strong>Технологии</strong>
                </div>
                <div class="list-group list-group-flush">
                    {% for tag,portfolio in data.portfolioru_tags %}
                        <a class="list-group-item list-group-item-action js-on-click-filter-tags" href="#" title="{{ tag }}">{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-md-9">
        {% for portfolio in data.portfolioru %}
            {% if portfolio.disable == false %}
                <div class="card mb-4 js-card-filter">
                    <div class="card-header">
                        <h2 class="responsive-font-size"><a href="{{ site.url }}{{ portfolio.url }}">{{ portfolio.tag_title }}</a></h2>
                    </div>
                    <div class="card-body port-content">
                        {% if portfolio.image %}
                            <p>
                                <img src="{{ portfolio.image.src }}" alt="{{ portfolio.tag_title }}" width="{{ portfolio.image.width }}" height="{{ portfolio.image.height }}">
                            </p>
                        {% endif %}
                        {{ portfolio.blocks.content|split('<hr />')|first|raw }}
                    </div>
                    <div class="card-footer text-muted">
                        {% if portfolio.meta.categories %}
                        <p class="categories">
                            Компания:
                            {% for categorie in portfolio.meta.categories %}
                            <span class="font-italic">{{ categorie }}</span>{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                        {% endif %}
                        {% if portfolio.meta.tags %}
                        <p class="tags">
                            Технологии:
                            {% for tag in portfolio.meta.tags %}
                            <span class="font-italic">{{ tag }}</span>{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                        {% endif %}
                    </div>
                    <script type="application/ld+json">
                        {
                            "@context": "http://schema.org",
                            "@type": "Article",
                            "author": "Toruse",
                            "datePublished": "{{ portfolio.date|date("Y-m-d") }}",
                            "headline": "{{ portfolio.tag_title }}"{% if portfolio.image %},
                            "image": {
                                "@type": "imageObject",
                                "url": "{{ site.url }}{{ portfolio.image.src }}",
                                "height": "{{ portfolio.image.height }}",
                                "width": "{{ portfolio.image.width }}"
                            }
                            {% endif %}
                        }
                    </script>
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endblock content_wrapper %}

{% block jsonLd %}
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "name": "{{ site.title }}",
            "url": "{{ site.url }}"
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [
                {
                    "@type": "ListItem",
                    "position": 1,
                    "item": {
                        "@id":"{{ site.url }}",
                        "name":"Портфолио"
                    }
                }
            ]
        }
    </script>
{% endblock jsonLd %}

